SPOTIPY_CLIENT_ID = your_spotify_client_id
SPOTIPY_CLIENT_SECRET = your_spotify_client_secret
SPOTIPY_REDIRECT_URI = http://127.0.0.1:8888/callback

YT_CLIENT_ID = your_youtube_client_id
YT_CLIENT_SECRET = your_youtube_client_secret